
#header{
    background-color: #1b5e20;
}
.primary-footer{
    height: 150px;
    width: 100%;
    background-color: #1b5e20;
}
.secondary-footer{
    height: 40px;
    width: 100%;
    background-color: #1b5e20;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
h1{
    font-weight: bold;
    color: white;
  }
  .cd-headline.rotate-1 .cd-words-wrapper {
    display: inline-block;
    perspective: 300px;
    padding: 0px;
  }
  .cd-headline.rotate-1 b {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .cd-headline.rotate-1 b.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
    color:  gray;
  }
  .cd-headline.rotate-1 b {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    color:gray;
  }
  .cd-headline.rotate-1 b.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
    animation: cd-rotate-1-in 1.2s;
  }
  .cd-headline.rotate-1 b.is-hidden {
    transform: rotateX(180deg);
    animation: cd-rotate-1-out 1.2s;
  }
  @keyframes cd-rotate-1-in {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    35% {
      transform: rotateX(120deg);
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(360deg);
      opacity: 1;
    }
  }
  @keyframes cd-rotate-1-out {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    35% {
      transform: rotateX(-40deg);
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(180deg);
      opacity: 0;
    }
  }
 #headerh3 {
    color: white;
 }
 #headerarrow{
 font-size: 100px;
 }
 .carousel{
  /* overflow: hidden; */
  /* position: relative; */
  min-height: 600px;
  /* height: 1200px; */
  /* float: left; */
  /* perspective: 800px; */
  /* transform-style: preserve-3d; */
  /* transform-origin: 0% 80%; */
  }
.cd-intro {
  text-align:center;
}

.class{
  width: 100px;
}
form {
  color:white;
}
.anchor {
  position: relative;
  top:-60px;
}
.headerimg {
  height:60px;
  width:60px;
  margin-top:2px;
}
button {
  background-color: rgb(25, 66, 25);
}
#eb-button, #nyt-button, #e911-button, #consumption-button, #reddit-button{
  width:116px;
}
#card-box {
  display:inline-block;
  overflow:visible;
  width:100%;
  margin: 5px 5px 5px 5px;
}
#quote {
  margin-top:170px;
  font-size:50px;
}
